<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>PingPong - Home</title>
  </head>

  <body>
    <h1>Home</h1>
    <h2>Presentation</h2>
    <p>Welcome to Cryptown's first table tennis club! Our website is
    currently under maintenance but more content should be available soon.</p>

    <h2>Site map</h2>
    <ul>
      <li><a href="{{home_url}}">Home</a></li>
      <li><a href="{{profile_url}}">Profile</a></li>
      <li><a href="{{admin_url}}">Administration</a></li>
      <li><a href="{{aboutus_url}}">About us</a></li>
    </ul>
  </body>
</html>
